body {
  background-color: #999;
}

.node {
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.link {
    stroke: #000000;
    stroke-opacity: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  background-color: white;
  padding: 20px;
  float: left;
}

.visualization {
  width: 80%;
  float: right;
}